Author: impurify
Title: Age-gate.
Time: 2026-10-04T20:55Z
Server-Time: 1:55 pm
IRT-Author: Anonymous Coward
IRT-URL: https://www.techdirt.com/2026/10/01/the-metric-is-not-the-mission-the-digital-climate/#comment-5603223
URL: https://www.techdirt.com/2026/10/01/the-metric-is-not-the-mission-the-digital-climate/?unapproved=5603307&moderation-hash=749953e83112ede1adf7c6aee9688e3d#comment-5603307

Would *Techdirt* please implement age verification?  From the parent comment, I reasonably suspect that I’m being trolled by a literal middle-schooler.

It’s not the discourse that I expect, when I comment on an article written by an author with a Ph.D.
