@import url("impureface.css");

:root {
	--scarlet-letter: #ff3300;
	--electric-purple: #bf00ff;
	--hot-pink: #ff69b4;
	--forest-green: #228b22;
	--myrtle: #21421e;
}

body {
	margin-bottom: 6.66rem;
}

header > h1 > a {
	color: inherit;
	text-decoration: inherit;
}

header > h1 > a :first-child, header > h1 > a :nth-child(2) {
	color: var(--scarlet-letter);
}

header > h1 {
	font-size: 110%;
	float: left;
}

header > blockquote {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	float: right;
}

header + hr, main + hr {
	clear: both;
}

main, footer {
	/*width: 100vw;*/
	max-width: 45rem;
	margin-left: auto;
	margin-right: auto;
}

main p, footer p, main li, main blockquote {
	text-align: justify;
}

time[title] {
	text-decoration: dotted underline;
}

article p > a[type="application/pdf"]:after {
	content: ' [PDF]';
}

/* pal.css */

.warning, .note {
	padding: 0.1em 1em;
	border-radius: 1em;
	margin-bottom: 1em;
}

.warning {
	background: lightyellow;
	border: 1px solid var(--scarlet-letter);
}

.warning > :first-child > :first-child {
	color: var(--scarlet-letter);
	text-transform: uppercase;
}

.warning > :first-child > :first-child:before,
	.note :first-child > :first-child:before {
	display: inline-block;
	margin-right: 0.3em;
}

.warning > :first-child > :first-child:before {
	content: '\26a0';
}

.note {
	background: #f8f8f8;
	border: 1px solid #aaa;
}

.note > :first-child > :first-child:before {
	content: '\1f5c9';
}

.footnotes {
	margin-top: 2.1em;
}

.scarlet {
	color: var(--scarlet-letter);
}

.epurple {
	color: var(--electric-purple);
}

.hotpink {
	color: var(--hot-pink);
}

/* new: */

.top-ad {
	text-align: center;
	padding: 0;
	margin: 0;
}

.top-ad p {
	padding: 0;
	margin: 0;
}

hr:has(+.top-ad) {
	margin-bottom: 0;
}

address {
	font-style: inherit;
}

.nobreak {
	overflow-wrap: normal;
	text-wrap: nowrap;
}

.at-at > * {
	display: inline-block;
	width: 0;
	overflow: hidden;
	overflow-wrap: normal;
	text-wrap: nowrap;
}

.at-at:after {
	/* font-family: monospace; */
	width: auto;
	content: '\40';
	display: inline-block;
	padding: 0 0.31337em;
}

.mono {
	font-family: monospace;
}

.byline {
	padding-left: 1rem;
}

.byline + p > :first-child, .epigraph + p > :first-child {
	font-variant: small-caps;
}

.byline + p::first-letter, .epigraph + p::first-letter, .lettrine {
	font-size: 300%;
	display: block;
	float: left;
	padding-top: 0.2rem;
	padding-right: 0.2rem;
}

/* newer: */

.fancybreak {
	position: relative;
	text-align: center;
}

.fancybreak > hr {
	display: none;
}

.fancybreak :first-child, .fancybreak :first-child:before, .fancybreak :first-child:after, .fancybreak :first-child + span, .fancybreak :first-child + span:after {
	display: inline-block;
	position: relative;
}

.fancybreak :first-child:before {
	content: '☙';
}

.fancybreak :first-child:after {
	content: '❦';
	font-size: 132%;
	top: 0.0618rem;
	padding: 0 0.666rem;
}

.fancybreak :first-child + span:after {
	content: '❧';
}

.glosslink {
	color: var(--myrtle);
	text-decoration: double underline;
}
